body {
    color: white;
    background: rgb(37, 163, 43);

}

header {
    border-bottom: solid 1px white;
    padding: 26px;
    font-family: "Oswald", sans-serif;
    font-size: 36px;
}

p {
    padding: 28px;
    font-size: 25px;
    padding-top: 1%;
}

a{
    padding: 28px;
    font-size: 18px;
    padding-top: 1%;
}